body {
    margin: 10px;
    min-width: 450px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
}
#main {
    background-color: rgb(233, 232, 232);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#header, #img-div, h2{
    text-align: center;
}
#img-div {
    background-color: white;
    width: 100%;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}
#header, #tribute-info {
    min-width: 400px;
    max-width: 700px;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    margin: 10% auto 5px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 15px;
}
figcaption {
    max-width: 95%;
    margin: 0 auto
}
h2, #more-info {
    font-size: 1.5em;
    font-weight: 600;
}
#quote {
    font-style: italic;
}